plugins {
    id("de.lancom.genesis.publish")
    id("java")
}

group = "test"
version = "1.0"

repositories {
    mavenCentral()
}

genesisPublish {
    withReleaseUrl("http://localhost:8888/release")
    withComponent("java")
    withInsecure(true)
}
